.con {
  background-image: url("../../ProjectImages/about.jpeg");
  background-size: cover;
}
.con2 {
  /* height: 100vh; */
  background-color: rgba(43, 42, 42, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.abouts {
  background-color: #fff;
  padding: 30px;
}
.abouts1 {
  background-color: #fff;
  padding: 10px 110px 10px 110px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.divider {
  border: 2px solid orange !important;
  width: 100px;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  border-radius: 5px !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.aboutus {
  text-align: center !important;
  font-weight: bold !important;
  font-size: 50px !important;
  color: #fff;
  margin-top: 150px !important;
  margin-bottom: 50px !important;
  text-shadow: 0px 0px 20px rgba(252, 61, 3, 0.5);
}
.abtdes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 5px solid red; */
}
.abtdes1 {
  /* border: 5px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 400px;
}
.abtdes2 {
  /* border: 5px solid red; */
  padding: 10px;
  width: 825px;
}

@media screen and (width <= 640px) {
  .abouts1 {
    background-color: #fff;
    padding: 10px 20px 10px 20px;
    text-align: justify;
  }
  .abtdes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .abtdes1 {
    padding: 10px;
    width: 350px;
  }
  .abtdes2 {
    padding: 10px;
    width: 325px;
  }
  .abouts {
    background-color: #fff;
    padding: 10px;

    box-shadow: 0px 0px 20px rgba(252, 61, 3, 0.5);
  }
  .aboutus {
    text-align: justify !important;
    font-weight: bold !important;
    font-size: 30px !important;
    color: #fff;
    margin-top: 100px !important;
    margin-bottom: 30px !important;
    text-shadow: 0px 0px 20px rgba(252, 61, 3, 0.5);
  }
}
@media screen and (width > 640px) and (width <= 768px) {
  .abouts1 {
    background-color: #fff;
    padding: 10px 20px 10px 20px;
    text-align: justify;
  }
}
@media screen and (width > 768px) and (width <= 1024px) {
  .abouts1 {
    background-color: #fff;
    padding: 10px 20px 10px 20px;
    text-align: justify;
  }
}
@media screen and (width > 475px) and (width <= 640px) {
  .abouts1 {
    background-color: #fff;
    padding: 10px 20px 10px 20px;
    text-align: justify;
  }
  .abtdes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .abtdes1 {
    padding: 10px;
    width: 350px;
  }
  .abtdes2 {
    padding: 10px;
    width: 90vw;
  }
  .abouts {
    background-color: #fff;
    padding: 10px;

    box-shadow: 0px 0px 20px rgba(252, 61, 3, 0.5);
  }
  .aboutus {
    text-align: center !important;
    font-weight: bold !important;
    font-size: 30px !important;
    color: #fff;
    margin-top: 100px !important;
    margin-bottom: 30px !important;
    text-shadow: 0px 0px 20px rgba(252, 61, 3, 0.5);
  }
}
@media screen and (width <= 475px) {
  .abouts1 {
    background-color: #fff;
    padding: 10px 20px 10px 20px;
    text-align: justify;
  }
  .abtdes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .abtdes1 {
    padding: 10px;
    width: 350px;
  }
  .abtdes2 {
    padding: 10px;
    width: 90vw;
  }
  .abouts {
    background-color: #fff;
    padding: 10px;

    box-shadow: 0px 0px 20px rgba(252, 61, 3, 0.5);
  }
  .aboutus {
    text-align: center !important;
    font-weight: bold !important;
    font-size: 30px !important;
    color: #fff;
    margin-top: 100px !important;
    margin-bottom: 30px !important;
    text-shadow: 0px 0px 20px rgba(252, 61, 3, 0.5);
  }
}
