.Partner {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.parTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.parlist {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  width: 100%;
}
.slickContainer {
  display: inline-block;
  width: 100vw;
}
.partItem {
  width: 200px;
  height: 125px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  margin: 10px;
  padding: 20px;
}
.styleImage {
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) and (max-width: 1000px) {
  .partItem {
    width: 150px;
    height: 100px;
  }
  .parlist {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1400px) {
}
@media screen and (width < 768px) {
  .partItem {
    width: 150px;
    height: 100px;
  }
  .parlist {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
